/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif !important;
}


/* Reset Button & Input Fucos */

a {
    text-decoration: none;
}

.quiz-card {
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.quiz-card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.quiz-card img {
    height: 175px !important;
    object-fit: cover;
    transition: all .2s ease-in-out;
}

.quiz-card:hover img {
    transform: scale(1.1);
}

.quiz-footer {
    border: none;
    background-color: #fff;
}

.up-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    transition: all .5s ease-in-out;
}

.is-active {
    display: block;
    transition: all .5s ease-in-out;
}

.btn-up {
    height: 35px;
    aspect-ratio: 1;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-up:hover {
    background-color: #198754;
}

.drop-menu .text-light:hover {
    color: #343a40 !important;
}

.logo-image {
    margin: auto;
    text-align: center;
}

.logo-image img {
    height: 100px;
    aspect-ratio: 1;
}


/* ======== LOADER ======== */

#pre-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
}

#pre-loader.remove {
    display: none;
}

.loader {
    border-top: 16px solid #007bff;
    /* border-right: 16px solid #6c757d; */
    border-bottom: 16px solid #dc3545;
    /* border-left: 16px solid #28a745; */
    border-radius: 50%;
    height: 100px;
    aspect-ratio: 1;
    animation: spin 2s linear infinite;
}

.loader-text {
    position: inherit;
    font-size: .8em;
    font-weight: bold;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
    box-shadow: none !important;
    outline: none !important;
}

input:focus,
input:active:focus,
input.active:focus,
input.focus,
input:active.focus,
input.active.focus {
    box-shadow: none !important;
    outline: none !important;
}